{{!-- <h1>{{message}}</h1> --}}
<div class="container text-center mt-5">
    <div class="row">
        <h1>About Us</h1>   
    </div>
    <div class="row d-flex justify-content-center">
        <p class="lead">
            Jimbro is a fitness web application designed with the goal of improving the user's ability to plan and track their workouts.
        </p>
    </div>
    <div class="row d-flex justify-content-center">
        <p class="lead">
            Created by Ron Dumalagan, Erik Anhorn, Dylan Tran, Jae Jang.
        </p>
    </div>
    <div class="row d-flex justify-content-center">
        <p class="lead">
            Built using HTML, CSS, Bootstrap, Express, Node.js, and MongoDB.
        </p>
    </div>
</div>