<h1>{{message}}</h1>
{{!-- <form action="/communitypost">
    <input type="submit" class="createbutton" value="Create Post">
</form> --}}

 <a href="/communitypost" class="createbutton">Create a Post</a>


<div class="communityContainer">
    <div class=" cards">
        <div class="card">
            <h3>Challenge: 5k run Hoboken Pier in 2 weeks</h3>
            <div class="card__content">
                <p>
                    Think you're up to the challenge. Recently picked up running and trying to keep improving
                </p>
                <div class="card_stats">
                    <div>
                        <p>Likes: </p>
                    </div>
                    <div>
                        <p>Comments: </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Challenge: 1k run Hoboken Pier in 2 weeks</h3>
            <div class="card__content">
                <p>
                    Think you're up to the challenge. Recently picked up running and trying to keep improving
                </p>
                <div class="card_stats">
                    <div>
                        <p>Likes: </p>
                    </div>
                    <div>
                        <p>Comments: </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <a class="nav-link" href="/community">Click here view the top posts!</a>