<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <h1>Edit Profile</h1> 
    <form method="POST" id="registration-form" action="/profile/edit">
        <div class="form-row my-3">
            <input type="number" name="ageInput" id="ageInput" required="required" placeholder="Age">
        </div>
        <div class="form-row my-3">
            <input type="number" name="heightFeetInput" id="heightFeetInput" required="required" placeholder="Height (Feet)">
            <input type="number" name="heightInchesInput" id="heightInchesInput" required="required" placeholder="Height (Inches)">
        </div>
        <div class="form-row my-3">
            <input type="number" name="weightInput" id="weightInput" required="required" placeholder="Weight">
        </div>
        <div class="form-row my-3">
            <input type="text" name="studioInput" id="studioInput" required="required" placeholder="Gym/Studio">
        </div>
        <div class="form-row my-3">
            <input type="text" name="coachInput" id="coachInput" required="required" placeholder="Coach">
        </div>
        <div class="form-row my-3">
            <textarea name="goalsInput" id="goalsInput" placeholder="Write your goals here, each goal separated by a new line!"></textarea>
        </div>
        <button type="submit">Update profile</button>
    </form>
</div>
<div>{{error}}</div>


<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>