{{!-- <h1>{{message}}</h1> --}}
<div class="container-fluid text-center py-5" id="banner">
    <h1>Reimagining your gym workouts.</h1>
    <h2>Organize your workout sessions, try new workouts, and share with the jimbro community!</h2>
</div>

<div class="d-flex justify-content-center">
    <div class="row">
        <img src="public/images/zyzz.png" alt="RIP Zyzz <3">
    </div>
    <div class="row">
        <h1 class="text-center p-5">"Just add a picture of a buff guy to the website" -Jan</h1>
    </div>
</div>