{{!-- <h1>{{message}}</h1> --}}
<div class="container-fluid text-center py-5" id="banner">
    <h1>Reimagining your gym workouts.</h1>
    <h5>Organize your workout sessions, try new workouts, and share with the jimbro community!</h5>
</div>
