<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    {{!-- <div>{{message}}</div>  --}}
    <h1 class="greeting">Welcome to <span class="navbar-brand">jimbro</span></h1>
    <form method="POST" id="login-form" action="/login">
        <div class="form-row my-3 form-floating gx-1">
            <input type="text" class="form-control" name="usernameInput" id="usernameInput" placeholder="Username">
            <label for="usernameInput">Username</label>
        </div>
        <div class="form-row my-3 form-floating gx-1">
            <input type="password" class="form-control" name="passwordInput" id="passwordInput" placeholder="Password">
            <label for="passwordInput">Password</label>
        </div>
        <div class="form-row d-flex justify-content-center my-3">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </form>
    <div class="error">{{error}}</div>
    <a href="/signup" class="mt-2">Don't have an account yet? Click here to register!</a>
</div>