<h1>Welcome to <span class="navbar-brand">jimbro</span></h1>
<div>{{message}}</div>
<form method="POST" id="login-form" action="/login">
    <div>
        <label for="usernameInput">Username</label>
        <input type="text" name="usernameInput" id="usernameInput">
    </div>
    <div>
        <label type="password" for="passwordInput">Password</label>
        <input type="text" name="passwordInput" id="passwordInput">
    </div>
    </div>
    <button type="submit">Submit</button>
</form>
<div>{{error}}</div>
<a href="/register">Don't have an account yet? Click here to register!</a>
