<h1 class="header-spacing">{{message}}</h1>
<form method="POST" id="scheduler-form" class="input-param" action="/scheduler/remove">
    <label for="dayOfWeek" class="input-param">Choose what day the exercise is on: </label>
    <select name="dayOfWeek" id="dayOfWeek">
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>
    <br>
    <label for="removeExerciseName" class="input-param">Enter the name of the exercise: </label>
    <input type="text" name="removeExerciseName" id="removeExerciseName" required="required" placeholder="Exercise to be removed">
    <br>
    <button type="submit" name="submitButton" id="submitButton">Submit</button>
</form>
<button type="button" id="schedulerButton" onclick="schedulerRedirect()">Return to scheduler</button>
<script>
    function schedulerRedirect(){
        window.location.href='/scheduler';
    }
</script>