<div id="scheduler-page">
    <h1 class="header-spacing" id='response-message'>{{message}}</h1>
    <form id="scheduler-form" class="input-param">
        <div>
            <label for="dayOfWeek" class="input-param">Choose a day of the week for the exercise: </label>
            <select name="dayOfWeek" id="dayOfWeek">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
            <br>
            <label for="exerciseName" class="input-param">Exercise Name: </label>
            <input type="text" name="exerciseName" id="exerciseName" required="required" placeholder="Exercise Name">
            <br>
            <label for="exerciseWeight" class="input-param">Exercise Weight: </label>
            <input type="number" name="exerciseWeight" id="exerciseWeight" required="required" placeholder="Exercise Weight">
            <br>
            <label for="numSets" class="input-param">Number of Sets: </label>
            <input type="number" name="numSets" id="numSets" required="required" placeholder="Number of Sets">
            <br>
            <label for="numReps" class="input-param">Number of Reps: </label>
            <input type="number" name="numReps" id="numReps" required="required" placeholder="Number of Reps">
            <br>
            <label for="bodyGroup" class="input-param">Choose a body group for the exercise</label>
            <select name="bodyGroup" id="bodyGroup">
                <option value="Upper Body">Upper Body</option>
                <option value="Lower Body">Lower Body</option>
                <option value="Core">Core</option>
            </select>
            <br>
            <button type="submit" name="submitButton" id="submitButton" >Submit</button>
            <br>
        </div>
    </form>
    <button type="button" id="presetButton" onclick="sampleRedirect()">Use Preset Workout</button>
    <button type="button" id="scheduleButton" onclick="scheduleRedirect()">View your schedule</button>
    <button type="button" id="goalsButton" onclick="goalRedirect()">Set/Update your body group goals</button>
    <button type="button" id="removeButton" onclick="removeRedirect()">Remove an exercise</button>
    <script>
        function sampleRedirect(){
            window.location.href='/scheduler/preset';
        }
        function scheduleRedirect(){
            window.location.href='/scheduler/schedule';
        }
        function goalRedirect(){
            window.location.href='/scheduler/goals';
        }
        function removeRedirect(){
            window.location.href='/scheduler/remove';
        }
    </script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
                crossorigin="anonymous"></script>
    <script src="/public/js/exerciseAJAX.js"></script>
</div>