<h1>Welcome to <span class="navbar-brand">jimbro</span></h1>
<div>{{message}}</div>
<form action="/signup" method="POST">
    <div>
        <input type="text" name="searchPersonName" id="searchPersonName" placeholder="Username"/>
        <div id="signupError1"></div>
    </div>
    <div>
        <input type="text" name="searchPersonName" id="searchPersonName" placeholder="Email"/>
    </div>
    <div>
        <input type="text" name="searchPersonName" id="searchPersonName" placeholder="Password"/>
    </div>
    <div>
        <input type="text" name="searchPersonName" id="searchPersonName" placeholder="Confirm Password"/>
    </div>
    <button type="submit">Sign Up</button>
</form>