<h1>{{message}}</h1>

<h2>Choose data you want to observe</h2>

<form action="/statsDiagram" method="POST">
    <label for="scroll" class="input-param">Choose Data</label>
    <select name="scroll" id="bodyGroup">
        <option value="BodyGroup Ratio">BodyGroup Ratio</option>
        <option value="Workout Progress">Workout Progress</option>
    </select>
    <p><input type="submit"></input></p>

</form>