@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.navbar-brand{
    font-family: 'Comfortaa', cursive;
}

.ital-title{
    font-style: italic;
    font-size: 14px;
    color: grey;
}

.header-spacing{
    padding-left: 20px;
    padding-top: 10px;
}

.display-list{
    display: table;
}

.display-item{
    display: table-cell;
    padding: 20px;
}

.workout{
    font-size: 20px;
    font-weight: 700;
}

.exercise{
    text-decoration-line: underline;
    text-decoration-style: wavy;
    font-size: 14px;
    font-weight: 700;
}
.sub-exercise{
    line-height: 1;
    font-size: 12px;
}
/* Community */
.createbutton {
        background-color: #1DA1F2;
        display: inline-block;
        border-radius: 16px;
        padding: 10px 20px;
        color: #eeeeee;
        border: none;
        text-align: center;
        display: inline-block;
        margin: 4px 2px;
        cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  width: auto;
        
  }
  .createbutton:hover {
    background-color: #007FFF;
    font-weight: bold;
  }
.postDetailsInput{
    height:200px;
}
/* how to make cards */
.communityContainer{
    grid-template-columns: auto auto auto;

}
.cards {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 300px;
    display: grid;
    grid-auto-rows: auto;
    gap: 20px;
    padding-top: 30px;
    border: 10px;
}
.card{
    border-radius: 10px;
}

.card_stats {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}
